.Message {
  &-confetti {
    filter: hue-rotate(20deg);
    transform: rotate(-90deg);
  }

  &-content {
    font-size: 4rem;
    margin-bottom: 0.5em;
  }

  &-from {
    font-size: 2rem;
  }
}

body {
  position: relative;
  left: -3em;
  scale: 1.2;
}